.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.text-danger {
  font-size: 0.75rem; /* Pequeño tamaño de fuente */
  margin-top: 0.25rem;
}

.form-container {
  height: 100%;
  overflow-y: auto;
}

.custom-input {
  display: flex;
  align-items: center;
}

.custom-input .form-control {
  flex: 1;
}


.logo-img {
  width: 50%;
  height: auto;
}



